<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% if page.title %}{{ page.title }}{% else %}Bez Hermoso // Software Engineer{% endif %}</title>
        <meta name="description" content="{{ site.description }}">
        <meta name="viewport" content="width=device-width">
        <link href='http://fonts.googleapis.com/css?family=OpenSans:300,300italic' rel='stylesheet' type='text/css'>
        <!-- build:css({app,.tmp}) /css/main.css -->
        <!-- Syntax highlighting CSS -->
        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/base16-eighties.light.css">
        <!-- endbuild -->

        <link href="/favicon.png" rel="icon" type="image/png">
        <meta name="keywords" content="programming software symfony zf2 php development javascript nodejs webdev web" />
        {% if page.og_image %}
        <meta property="og:image" content="{% if site.domain %}http://{{ site.domain }}{% endif %}{{ page.og_image }}" />
        {% else %}
        <meta property="og:image" content="http://www.gravatar.com/avatar/7c3c15142fcfe3e25ce2fae6b1912bcc.jpg?s=200" />
        {% endif %}
        {% if page.id %}
        <meta property="og:title" content="{{ page.title | escape }}" />
            {% if page.og_description %}
            <meta property="og:description" content="{{ page.og_description }}" />
            {% else %}
            <meta property="og:description" content="{{ page.content | excerpt | strip_html | strip_newlines | escape }}" />
            {% endif %}
        {% endif %}
    </head>
    <body>
        <section id="content">
            <div class="row">
                <div class="columns medium-12">
                    <section id="hero">
                        <div id="hero-box">
                            <h1>Bez Hermoso <span>// Software Engineer</h1>
                            <div class="bio">
                                I work at <a href="http://activelamp.com" target="_blank">ActiveLAMP</a>. You can find me on <a href="https://twitter.com/BezHermoso" target="_blank">Twitter</a> and <a href="https://github.com/bezhermoso" target="_blank">GitHub</a>.
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            {{ content }}
        </section>
        <section id="footer">
            <div class="copyright">
                Bez Hermoso &copy; 2015
            </div>
        </section>

        <!-- build:js(app) /js/scripts.js -->
        <script src="/js/main.js"></script>
        <!-- endbuild -->
        {% if site.ga_profile %}
        <script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', '{{ site.ga_profile }}', 'auto');
ga('send', 'pageview');
        </script>
        {% endif %}
    </body>
</html>
