
body {
  font-family: $body-font-family;

  //.bg {
  //  background: linear-gradient(127deg, scale-color($code-red, $lightness: 90%), rgba(0,255,0,0) 30%),
  //  linear-gradient(217deg, rgba(0, 0, 0, 0), scale-color($primary-color, $lightness: 85%) 95%),
  //  linear-gradient(336deg, scale-color($code-red, $lightness: 90%), rgba(0, 0, 0, 0) 50%);
  //  background-attachment: fixed;
  //  position: fixed;
  //  height: 100vh;
  //  width: 100vw;
  //}
  //
  //.content {
  //  position: absolute;
  //  left: 0;
  //  right: 0;
  //}
}


a code {
  text-decoration: underline;

  &:hover {
    color: $primary-color;
  }
}

footer {
  text-align: center;
  padding: 1rem 0;
  color: $base;
}

h1, h2, h3, h4, h5, h6 {
  a {
    border-bottom: 1px dotted $primary-color;
  }
}

.code-inline, code {
  border-radius: rem-calc(5);
}