.post-meta {
  margin-bottom: 20px;

  time {
    color: $iron;
  }
}

.blog-post {
  .blog-body {
    > * {
      @include grid-row();
      @include grid-column($float: false);
      padding: 0;
      margin-bottom: 1.25rem;
      max-width: $row-width - 2;
    }
  }
}
