.post-meta {
  margin-bottom: 20px;

  time {
    color: $iron;
  }
}

.blog-post {
  .blog-body {
    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      @extend .large-12;
      @extend .row;
      @include grid-column($float: false);
      margin-bottom: 1.25rem;
    }
  }
}
