#til-banner {
  text-align: center;
  h4 {
    font-family: $font-family-sans-serif;
    color: $oil;
    font-size: $h4-font-size;
  }
  margin-bottom: 2rem;
}

.til-list {
  @extend .post-list;

  .til-list--meta {
    @extend .post-list--meta;

    .til-list--title {
      @extend .post-list--title;
    }
  }

  > li {
    margin-bottom: 3rem;

    &::after {
      left: 0%;
      right: 0%;
    }
  }

  > li.previous {
    &::after {
      border-bottom: none;
    }
  }
}


