---
layout: base
---
<section class="grid-container blog-post">
  <div class="grid-x">
    <div class="large-12 cell">
      <div class="til-header">
        <h3>
        <a href="/til/">More Pro-tips...</a>
        </h3>
      </div>
      <div class="post-meta">
        <h1>{{ page.title }}</h1>
        <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: '%d %b %Y' }}</time>
      </div>
    </div>
    <div class="blog-body large-12 cell">
      {{ content }}
    </div>
  </div>
  <section class="post-navigation">
    <div class="large-12 cell">
      <a href="/til/">Click here for more pro-tips</a>
    </div>
  </section>
</section>
<section>
  {% include disqus.html %}
</section>
