---
layout: base
---
<section class="blog-post">
  <div class="row">
    <div class="large-12 columns">
      <div class="til-header">
        <h3>
        <a href="/til/">Today I Learned...</a>
        </h3>
      </div>
      <div class="post-meta">
        <h1>{{ page.title }}</h1>
        <time datetime="2016-09-02T18:00">02 Sep 2016</time>
      </div>
    </div>
    <div class="blog-body large-12 columns">
      {{ content }}
    </div>
  </div>
  <section class="post-navigation">
    <div class="large-12 columns">
      <a href="/til/">Click here for more TILs</a>
    </div>
  </section>
</section>
