<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}Bez Hermoso - {{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <meta name="keywords" content="programming software symfony zendframework zf2 php development javascript" />
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/darcula.css" | prepend: site.baseurl }}">
    <meta property="og:image" content="http://www.gravatar.com/avatar/7c3c15142fcfe3e25ce2fae6b1912bcc.jpg?s=200" />
    {% if page.id %}
        <meta property="og:title" content="{{ page.title }}" />
        {% if page.og_description %}
        <meta property="og:description" content="{{ page.og_description }}" />
        {% endif %}
    {% endif %}

</head>
