@import "./_settings.scss";
@import "foundation";

.position-relative {
  position: relative;
}

div.home {
  .row {
    padding-left: 0;
    margin-left: 0;

    .left-column {
      padding-left: 0;
    }
  }
}

.blog-sidebar {
  margin-left: 10px;
  ul.post-list {
    margin-left: 0;
    list-style: none;
    li {
      margin-bottom: 30px;
    }
  } 
  h2 {
    font-size: rem-calc(30);
    margin-bottom: 30px;
  }
}


div.home-sidebar {
  background-color: lighten($secondary-color, 35);
}

div.home-jumbo {
  border-top: 20px solid #240036;
  background-color: $primary-color;
  padding: 20px;
  h1 {
    font-size: rem-calc(30);
    color: lighten($primary-color, 80);
    font-family: $font-family-serif;
  }
}

div.home-bio
{
  display: none;
  padding: 20px;
  color: $primary-color;
  font-weight: 700;
  font-family: $font-family-serif;
  p {
    font-size: $h3-font-size;
    text-shadow: 1px 1px rgba($white, 0.3);
  }
}

@media #{$small-only} {
  div.left-column {
    padding-right: 0;
  }
  ul.post-list {
    h3 {
      font-size: rem-calc(20);
    }
  }
  .blog-sidebar h2 {
    margin-top: 16px;
  }
}

@media #{$medium-up} {
  div.home-sidebar {
    position: fixed;
    height: rem-calc(250);
    width: 50%;
    min-height: 100vh;
    max-width: 500px;
    text-shadow: 3px 3px $secondary-color;
    
    h1 {
      font-size: rem-calc(60);
    }
  }
  div.home-bio {
    display: block;
  }
}

section#header {
  border-top: 5px solid $primary-color;
  background-color: $primary-color;
  h1 {
    margin-top: 5px;
    font-size: rem-calc(30);
    text-shadow: 1px 1px $secondary-color;
    a {
      color: $white;
    }
  }  
}

.blog-post {
  margin-top: 20px;
  h1 {
    color: $primary-color;
    font-size: rem-calc(40); 
  }
} 
