<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Bez Hermoso :: Blog</title>
    <link rel="stylesheet" href="/css/app.css" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="bower_components/prism/themes/prism-coy.css" type="text/css" media="screen" charset="utf-8">
  </head>
  <body>
    <header>
      <div class="row site-headline">
        <div class="large-12 columns">
          <h1>Development Blog</h1>
          <h2>Bez Hermoso, Software Engineer @ ActiveLAMP</h2>
        </div>
      </div>
    </header>
    <section class="blog-post">
      <div class="row">
        <div class="large-12 columns">
          <div class="post-meta">
            <h1>{{ title }}</h1>
            <time datetime="2016-09-02T18:00">02 Sep 2016</time>
          </div>
        </div>
      </div>
      <div class="blog-body">

        {{{contents}}}

      </div>
    </section>
  </body>
  <script src="/js/prism.js"></script>
</html>
